{% extends "layout.html" %}

{% block content %}
{% load static %}
<script>
    $(document).ready(function () {
        for (i = 0; i < {{ blog.subs.all.count }}; i++) {
            $("#id_subs_" + i).attr('checked', true);
        }
    });
</script>
<section style="margin-top: 180px;">
    <div class="row">
    {% if permission %}
      <div class="w3-card col-sm-2" style="text-align: center; height: 100%; background-color: grey;">
        <div class="row">
          <a class="w3-bar-item" style="background-color: #4eb5f1;color: white; font-weight: bold; font-size: 20px; width: 100%; height: 50px; padding-top: 10px">
            SETTINGS </a></div>
        <div class="row">
          <a href="" data-toggle="modal" data-target="#BlogEdit" class="w3-bar-item w3-button w3-white w3-border" style="color: white; font-weight: bold; width: 100%; height: 50px; padding-top: 13px">
            Name / Description </a></div>
        {% if blog.topic.all.0.name != 'Personal' %}
                <div class="row">
                  <a href="" data-toggle="modal" data-target="#Owners"  class="w3-bar-item w3-button w3-white w3-border" style="color: white; font-weight: bold; width: 100%; height: 50px; padding-top: 13px">
                    Owners</a></div>
                <div class="row">
              <a href="" data-toggle="modal" data-target="#Invites"  class="w3-bar-item w3-button w3-white w3-border" style="color: white; font-weight: bold; width: 100%; height: 50px; padding-top: 13px">
                Invites</a></div>
            {% endif %}
            <div class="row">
          <a href="" data-toggle="modal" data-target="#Topic"  class="w3-bar-item w3-button w3-white w3-border" style="color: white; font-weight: bold; width: 100%; height: 50px; padding-top: 13px">
            Topic</a></div>
            <div class="row">
          <a href="" data-toggle="modal" data-target="#Visibility"  class="w3-bar-item w3-button w3-white w3-border" style="color: white; font-weight: bold; width: 100%; height: 50px; padding-top: 13px">
            Visibility</a></div>

        <div class="row">
            {% if blog.subs.all.values.count == 1 %}
             <a class="w3-bar-item w3-border w3-border w3-text-white" style="background-color: lightgrey;color: white; font-weight: bold; width: 100%; height: 50px; padding-top: 13px" disabled>
                        No Subscribers</a></div>

                {% else %}
          <a href="" data-toggle="modal" data-target="#Subscribers"  class="w3-bar-item w3-button w3-white w3-border" style="color: white; font-weight: bold; width: 100%; height: 50px; padding-top: 13px">
                            Subscribers</a></div>

          {% endif %}
        {% if blog.topic.all.0.name != 'Personal' %}
        <div class="row">
          <a href="" data-toggle="modal" data-target="#Delete"  class="w3-bar-item w3-btn w3-grey w3-border w3-border-red w3-text-white w3-round-large" style="color: white; font-weight: bold; width: 100%; height: 40px;">
            Delete Blog</a></div>
            {% endif %}
      </div>

      <div class="modal fade" id="BlogEdit" tabindex="-1" role="dialog" aria-labelledby="BlogEdit" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PostLabel">Edit Name/Description</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/blog_edit" method="GET">
                {% csrf_token %}
              <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Name:</label>
                  {{ blog_edit.name }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Description:</label>
                  {{ blog_edit.description }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" name="Edit Blog value="Edit Blog">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="Owners" tabindex="-1" role="dialog" aria-labelledby="Owners" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PostLabel">Post Blog</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/blog_owners" method="GET">
              {% for owner in blog.owner.all %}
                  <li>{{ owner.user.username }}</li>
                {% endfor %}
                {% csrf_token %}
                <div class="form-group">
                    <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                  <label for="recipient-name" class="col-form-label">Add an Owner:</label>
                  {{ blog_owners.username }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>


      <div class="modal fade" id="Subscribers" tabindex="-1" role="dialog" aria-labelledby="Subscribers" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PostLabel">Subscribers:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/blog_subs" method="GET">
                  {% csrf_token %}
                  <div class="form-group">
                  <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                    <label for="recipient-name" class="col-form-label">Subscribers:</label>
                    {{ blog_subs.subs }}
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" name="Submit Changes" value="Submit Changes">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>




      <div class="modal fade" id="Topic" tabindex="-1" role="dialog" aria-labelledby="Topic" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PostLabel">Post Blog</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/blog_topics" method="GET">
                {% csrf_token %}
              <div class="form-group">
                <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                  <label for="recipient-name" class="col-form-label">Add a Topic:</label>
                  {{ blog_topics.topics }}
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" name="Add Topic" value="Add Topic">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="Visibility" tabindex="-1" role="dialog" aria-labelledby="Visibility" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PostLabel">Post Blog</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <form action="." method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Title:</label>
                  {{ form_post.title }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message:</label>
                  {{ form_post.text}}
                </div>
                <div class="form-group">
                  {{ form_post.image}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" name="Create Post" value="Create Post">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>



      <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="Delete" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PostLabel">Delete Blog</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/blog_delete" method="GET">
                {% csrf_token %}
                <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                <div class="alert alert-danger">
                    <strong>Warning!</strong> This will permanently delete your Blog.</a>.
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-danger" name="Delete Blog" value="Delete Blog">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="Invites" tabindex="-1" role="dialog" aria-labelledby="Invites" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PostLabel">Post Blog</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% for inv in blog.invites.all %}
                  <li>{{ inv.user.username }}</li>
                {% endfor %}
              <form action="." method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Title:</label>
                  {{ form_post.title }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message:</label>
                  {{ form_post.text}}
                </div>
                <div class="form-group">
                  {{ form_post.image}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" name="Create Post" value="Create Post">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


          <div class="modal fade" id="Post" tabindex="-1" role="dialog" aria-labelledby="Post" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="PostLabel">Post Blog</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="." method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Title:</label>
                      {{ form_post.title }}
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Message:</label>
                      {{ form_post.text}}
                    </div>
                    <div class="form-group">
                      {{ form_post.image}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <input type="submit" class="btn btn-primary" name="Create Post" value="Create Post">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
           <div class="col-sm-10" style="padding-left: 200px; padding-right: 200px;">
        {% else %}
            <div class="container">
        {% endif %}
            <div style="text-align: center; color: black;">
                <div class="row col-sm-12">
                <div class="col-sm-8" style="padding-left:36%"><h1>{{ blog.name }}</h1></div>
                <div class="col-sm-4" style="text-align:right;margin-right: 0px">
                    {% if not permission %}
                       <form action="/blog_follow" method="GET">
                        <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                        {% if not subbed %}
                            {% csrf_token %}
                                <button id="follow-button" type="submit" name="Option" value="Follow">+ Follow</button>
                            </form>
                        {% else %}
                                <button id="following" type="submit" name="Option" value="Unfollow">Following</button>
                        {% endif %}
                    {% endif %}
                </div>
                </div>
              </div>
              <div style="text-align: center;"> {{ blog.description }}</div>

              <div class="col-sm-12 col-md-12 col-lg-12" id="postBtn" style="margin-top: 70px; margin-bottom: 70px;">
                <a href="something" class="button3" data-toggle="modal" data-target="#Post" style="width: 100%;">Make a New a Post <i
                    class="fa fa-plus-circle" aria-hidden="true"></i></a>
              </div>


          <section id="services" style="width: 100%;">
              <div class="row">
                <div class="col-lg-12 filter-post wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s"
                  style="width: 100%">
                  <div class="box">
                    <div class="icon" style="background: #ecebff;"></div>
                    <p> OLA </p>
                    <h4 class="title"><a href="">TESTE</a></h4>
                    <p class="description">DESCRICAO </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 filter-post wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s"
                  style="width: 100%">
                  <div class="box">
                    <div class="icon" style="background: #ecebff;"></div>
                    <p> OLA </p>
                    <h4 class="title"><a href="">T</a></h4>
                    <p class="description">DESCRICAO </p>
                  </div>
                </div>
              </div>


                <div class="row">
                  <div class="col-lg-12 filter-post wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s"
                    style="width: 100%">
                    <div class="box">
                      <div class="icon" style="background: #ecebff;"></div>
                      <p> OLA </p>
                      <h4 class="title"><a href="">TESTE</a></h4>
                      <p class="description">DESCRICAO </p>
                    </div>
                  </div>
                </div>
          </section>

        </div>
    </div>
</section>


{% endblock %}
