{% extends "layout.html" %}



{% block content %}
<section style="margin-top:150px">



    <div class="container">
        <h2>Profile</h2>
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-4">
                <img src="https://i.picsum.photos/id/26/200/300.jpg?hmac=E9i_aIqa_ifLvxqI2b1QTLCnhGQYJ83IpvaDfFM54bU">
            </div>
            <div class="col-lg-8 col-sm-12 col-md-4">
                <div class="container" style="margin-bottom: 20px">
                    <div class="row">
                        <div class="col-lg-4">
                            randomtext
                        </div>
                        <div class="col-lg-4">
                            randomtext
                        </div>
                        <div class="col-lg-4">
                            randomtext
                        </div>
                    </div>
                </div>
                <div class="container" style="margin-bottom: 20px">
                    <div class="row">
                        <div class="col-lg-4">
                            randomtext
                        </div>
                        <div class="col-lg-4">
                            randomtext
                        </div>
                        <div class="col-lg-4">
                            randomtext
                        </div>
                    </div>
                </div>
            </div>


        </div>




    </div>
</section>



{% endblock %}

